<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}University of Memphis</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{{ app.request.basepath }}/css/style.css">
    <script src="{{ app.request.basepath }}/js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="{{ app.request.basepath }}/js/plugins.header.js"></script>

    <link rel="apple-touch-icon" sizes="57x57" href="{{ app.request.basepath }}/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ app.request.basepath }}/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ app.request.basepath }}/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ app.request.basepath }}/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ app.request.basepath }}/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ app.request.basepath }}/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ app.request.basepath }}/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ app.request.basepath }}/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ app.request.basepath }}/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="{{ app.request.basepath }}/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ app.request.basepath }}/favicons/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="{{ app.request.basepath }}/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ app.request.basepath }}/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ app.request.basepath }}/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{ app.request.basepath }}/favicons/android-chrome-manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ app.request.basepath }}/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#00498f">


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ app.request.basepath }}/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="{{ app.request.basepath }}/js/plugins.js"></script>
{% block scripts %}{% endblock %}
    <script src="{{ app.request.basepath }}/js/main.js"></script>

</head>
<body>
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

{% if app.request.query.get('alert') is not null %}
        <div class="header--alert" style="position: absolute; z-index: 999;">
            <div class="container">
                <div class="row">
                    <div class="col-md-16 col-md-offset-8">
                        <div class="header--alert__wrapper">
                            <div class="header--alert__wrapper__icon">
                                <span class="fa fa-exclamation-circle"></span>
                            </div>
                            <div class="header--alert__wrapper__text">
                                <span>University closed due to inclement weather</span>
                                <a href="#" style="color: #{{ app.request.query.get('color') }} !important;">More <span class="fa fa-chevron-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            jQuery(document).ready(function(){
                jQuery('header').css('top', '87px');
                jQuery('div.type--home').css('margin-top', '69px');
            });
        </script>
{% endif %}

    <header>
        <div class="header--bg__behind"></div>

        <div class="header--bg">
            <div class="header--bg2">

                <div class="header--wrapper container">
                    <div class="row header--bg3">
                        <div class="col-xs-20 col-md-6 col-lg-7">
                            <div class="header--logo">
                                <a href="{{ url('homepage') }}"><img src="{{ app.request.basepath }}/img/logo.png" alt="UofM Logo"/></a>
                            </div>
                        </div>
                        <div id="header--menu__button" class="header--menu__button col-xs-4 col-md-hidden">
                            <span id="header--menu__button__bars" class="fa fa-bars"></span>
                        </div>
                        <div id="header--menu" class="header--menu col-sm-13 col-sm-push-11 col-md-18 col-lg-17 col-xs-hidden col-md-show">
                            <div style="position: relative;" class="row">
                                <div class="header--top">
                                    <div class="header--top__wrap">
                                        <nav>
                                            <ul>
                                                <li><a href="#" title="Lambuth Campus">Lambuth Campus</a></li>
                                                <li><a href="#" title="myMemphis">myMemphis</a></li>
                                                <li><a href="#" title="Webmail">Webmail</a></li>
                                                <li><a href="#" title="Faculty & Staff">Faculty & Staff</a></li>
                                                <li><a href="#" title="Contact">Contact</a></li>
                                                <li><a href="#" title="Directories">Directories</a></li>
                                            </ul>
                                        </nav>
                                        <form class="header--search">
                                            <label class="visuallyhidden" for="search">Search</label>
                                            <input type="search" name="search" id="search" placeholder="Search" />
                                            <a href="#">Site Index</a>
                                        </form>
                                        <div class="header--top__expand"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div id="header--bottom" class="header--bottom">
                                    <nav>
                                        <ul>
                                            <li><a href="#" title="Academics"><span>Academics</span> <span class="fa fa-plus"></span></a>
                                                <ul class="col-xs-hidden">
                                                    <li><a href="#">Test Test</a></li>
                                                    <li><a href="#">Test Test</a></li>
                                                    <li><a href="#">Test Test</a></li>
                                                    <li><a href="#">Test Test</a></li>
                                                    <li><a href="#">Test Test</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#" title="Admissions"><span>Admissions</span> <span class="fa fa-plus"></span></a>
                                                <ul class="col-xs-hidden">
                                                    <li><a href="#">Test Test</a></li>
                                                    <li><a href="#">Test Test</a></li>
                                                    <li><a href="#">Test Test</a></li>
                                                    <li><a href="#">Test Test</a></li>
                                                    <li><a href="#">Test Test</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#" title="Athletics"><span>Athletics</span> <span class="fa fa-plus"></span></a>
                                                <ul class="col-xs-hidden">
                                                    <li><a href="#">Athletics Hompage</a></li>
                                                    <li><a href="#">Ticket Information</a></li>
                                                    <li><a href="#">Intramurals</a></li>
                                                    <li><a href="#">Rec Center</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#" title="Research"><span>Research</span> <span class="fa fa-plus"></span></a>
                                                <ul class="col-xs-hidden">
                                                    <li><a href="#">Test Test</a></li>
                                                    <li><a href="#">Test Test</a></li>
                                                    <li><a href="#">Test Test</a></li>
                                                    <li><a href="#">Test Test</a></li>
                                                    <li><a href="#">Test Test</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#" title="Support UofM"><span>Support UofM</span> <span class="fa fa-plus"></span></a>
                                                <ul class="col-xs-hidden">
                                                    <li><a href="#">Test Test</a></li>
                                                    <li><a href="#">Test Test</a></li>
                                                    <li><a href="#">Test Test</a></li>
                                                    <li><a href="#">Test Test</a></li>
                                                    <li><a href="#">Test Test</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#" title="Libraries"><span>Libraries</span> <span class="fa fa-plus"></span></a>
                                                <ul class="col-xs-hidden">
                                                    <li><a href="#">Test Test</a></li>
                                                    <li><a href="#">Test Test</a></li>
                                                    <li><a href="#">Test Test</a></li>
                                                    <li><a href="#">Test Test</a></li>
                                                    <li><a href="#">Test Test</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div id="header--box" class="header--box col-md-24 col-xs-hidden col-md-show">
                            <div class="header--box__wrapper">
                                <a class="header--box__text header--box__click" href="">Resources for...</a>
                                <ul id="header--box__list" class="no-style header--box__text visuallyhidden">
                                    <li><a href="#prospective-students" data-box="prospective-students">Prospective Students</a></li>
                                    <li><a href="#current-students" data-box="current-students">Current and Returning Students</a></li>
                                    <li><a href="#parents" data-box="parents">Parents</a></li>
                                    <li><a href="#alumni" data-box="alumni">Alumni</a></li>
                                    <li><a href="#veterans" data-box="veterans">Veterans</a></li>
                                </ul>
                                <a id="header--box__arrow" class="header--box__arrow fa-angle-right header--box__click" href=""><span class="visuallyhidden">Expand Menu</span></a>
                            </div>

                            <div class="header--box__mega">
                                <div data-box-mega="prospective-students" class="header--mega col-xs-hidden">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="header--mega__block">
                                                <h4 class="h4--title"><a class="box--link" href="#">Learn About the Admissions Process <span class="fa fa-angle-right"></span></a></h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis erat quis leo lobortis vestibulum.</p>
                                            </div>

                                            <div class="header--mega__block">
                                                <h4 class="h4--title"><a class="box--link" href="#">Schedule a Visit <span class="fa fa-angle-right"></span></a></h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis erat quis leo lobortis vestibulum.</p>
                                            </div>

                                            <div class="header--mega__block">
                                                <h4 class="h4--title"><a class="box--link" href="#">Prospective Student Guide <span class="fa fa-angle-right"></span></a></h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis erat quis leo lobortis vestibulum.</p>
                                            </div>

                                            <div class="header--mega__block">
                                                <h4 class="h4--title"><a class="box--link" href="#">Scholarships and Financial Aid <span class="fa fa-angle-right"></span></a></h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis erat quis leo lobortis vestibulum.</p>
                                            </div>
                                        </div>

                                        <div class="col-md-8 col-md-offset-1">
                                            <div class="header--mega__block header--mega__news">
                                                <h4><a class="box--link" href="#">Undergraduate Applications <span class="fa fa-angle-right"></span></a></h4>
                                                <div class="text--deadline">Fall Deadline: Dec 31</div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis erat quis leo lobortis vestibulum.</p>
                                            </div>

                                            <div class="header--mega__block header--mega__news">
                                                <h4><a class="box--link" href="#">Graduate Applications <span class="fa fa-angle-right"></span></a></h4>
                                                <div class="text--deadline">Fall Deadline: Dec 31</div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis erat quis leo lobortis vestibulum.</p>
                                            </div>

                                            <div class="header--mega__block header--mega__news">
                                                <h4><a class="box--link" href="#">Law Applications <span class="fa fa-angle-right"></span></a></h4>
                                                <div class="text--deadline">Fall Deadline: Dec 31</div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis erat quis leo lobortis vestibulum.</p>
                                            </div>

                                            <div class="header--mega__block header--mega__news">
                                                <h4><a class="box--link" href="#">International Applications <span class="fa fa-angle-right"></span></a></h4>
                                                <div class="text--deadline">Fall Deadline: Dec 31</div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis erat quis leo lobortis vestibulum.</p>
                                            </div>
                                        </div>

                                        <div class="col-md-7">
                                            <div class="header--mega__right-callout">
                                                <a href="#">
                                                    <img class="lazy" data-original="{{ app.request.basepath }}/img/btn__colleges-and-schools.jpg" alt="Colleges and Schools"/>
                                                    <noscript><img src="{{ app.request.basepath }}/img/btn__colleges-and-schools.jpg" alt="Colleges and Schools"/></noscript>
                                                </a>
                                            </div>

                                            <div class="header--mega__right-callout">
                                                <a href="#">
                                                    <img class="lazy" data-original="{{ app.request.basepath }}/img/btn__campus-life.jpg" alt="Campus Life"/>
                                                    <noscript><img src="{{ app.request.basepath }}/img/btn__campus-life.jpg" alt="Campus Life"/></noscript>
                                                </a>
                                            </div>

                                            <div class="home--quote__info">
                                                <p>&ldquo;Quote from student about school Quote experience Quote from student about school experience&rdquo;</p>
                                                <a href="#" class="font--bold">READ MORE <span class="fa fa-angle-right"></span></a>
                                            </div>
                                            <div class="home--quote__person__image">
                                                <img class="lazy" data-original="{{ app.request.basepath }}/img/circle-student.png" alt="Photo of Student"/>
                                                <noscript><img src="{{ app.request.basepath }}/img/circle-student.png" alt="Photo of Student"/></noscript>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>

                                <div data-box-mega="current-students" class="header--mega col-xs-hidden">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="header--mega__block">
                                                <h4 class="h4--title"><a class="box--link" href="#">Registration <span class="fa fa-angle-right"></span></a></h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis erat quis leo lobortis vestibulum.</p>
                                            </div>

                                            <div class="header--mega__block">
                                                <h4 class="h4--title"><a class="box--link" href="#">Student Services <span class="fa fa-angle-right"></span></a></h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis erat quis leo lobortis vestibulum.</p>
                                            </div>

                                            <div class="header--mega__block">
                                                <h4 class="h4--title"><a class="box--link" href="#">Student Organizations <span class="fa fa-angle-right"></span></a></h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis erat quis leo lobortis vestibulum.</p>
                                            </div>

                                            <div class="header--mega__block">
                                                <h4 class="h4--title"><a class="box--link" href="#">Majors and Minors <span class="fa fa-angle-right"></span></a></h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis erat quis leo lobortis vestibulum.</p>
                                            </div>
                                        </div>

                                        <div class="col-md-8 col-md-offset-1">
                                            <div class="header--mega__block">
                                                <h4 class="h4--title"><a class="box--link" href="#">Course Schedule <span class="fa fa-angle-right"></span></a></h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis erat quis leo lobortis vestibulum.</p>
                                            </div>

                                            <div class="header--mega__block">
                                                <h4 class="h4--title"><a class="box--link" href="#">Academic Calendars <span class="fa fa-angle-right"></span></a></h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis erat quis leo lobortis vestibulum.</p>
                                            </div>

                                            <div class="header--mega__block">
                                                <h4 class="h4--title"><a class="box--link" href="#">Academic Support Services <span class="fa fa-angle-right"></span></a></h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis erat quis leo lobortis vestibulum.</p>
                                            </div>

                                            <div class="header--mega__block">
                                                <h4 class="h4--title"><a class="box--link" href="#">Lambuth Campus <span class="fa fa-angle-right"></span></a></h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis erat quis leo lobortis vestibulum.</p>
                                            </div>
                                        </div>

                                        <div class="col-md-7">
                                            <div class="header--mega__right-callout">
                                                <a href="#">
                                                    <img class="lazy" data-original="{{ app.request.basepath }}/img/btn__campus-map.jpg" alt="Campus Map"/>
                                                    <noscript><img src="{{ app.request.basepath }}/img/btn__campus-map.jpg" alt="Campus Map"/></noscript>
                                                </a>
                                            </div>

                                            <div class="header--mega__right-callout">
                                                <a href="#">
                                                    <img class="lazy" data-original="{{ app.request.basepath }}/img/btn__tiger-dining.jpg" alt="Tiger Dining"/>
                                                    <noscript><img src="{{ app.request.basepath }}/img/btn__tiger-dining.jpg" alt="Tiger Dining"/></noscript>
                                                </a>
                                            </div>

                                            <div class="home--quote__info">
                                                <p>&ldquo;Quote from student about school Quote experience Quote from student about school experience&rdquo;</p>
                                                <a href="#" class="font--bold">READ MORE <span class="fa fa-angle-right"></span></a>
                                            </div>
                                            <div class="home--quote__person__image">
                                                <img class="lazy" data-original="{{ app.request.basepath }}/img/circle-student.png" alt="Photo of Student"/>
                                                <noscript><img src="{{ app.request.basepath }}/img/circle-student.png" alt="Photo of Student"/></noscript>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>

                                <div data-box-mega="parents" class="header--mega col-xs-hidden">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="header--mega__block">
                                                <h4 class="h4--title"><a class="box--link" href="#">eNews and Signup <span class="fa fa-angle-right"></span></a></h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis erat quis leo lobortis vestibulum.</p>
                                            </div>

                                            <div class="header--mega__block">
                                                <h4 class="h4--title"><a class="box--link" href="#">Safety Information <span class="fa fa-angle-right"></span></a></h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis erat quis leo lobortis vestibulum.</p>
                                            </div>

                                            <div class="header--mega__block">
                                                <h4 class="h4--title"><a class="box--link" href="#">FAQs <span class="fa fa-angle-right"></span></a></h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis erat quis leo lobortis vestibulum.</p>
                                            </div>

                                            <div class="header--mega__block">
                                                <h4 class="h4--title"><a class="box--link" href="#">Give to UofM <span class="fa fa-angle-right"></span></a></h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis erat quis leo lobortis vestibulum.</p>
                                            </div>
                                        </div>

                                        <div class="col-md-8 col-md-offset-1">
                                            <div class="header--mega__block">
                                                <h4 class="h4--title"><a class="box--link" href="#">News and Events <span class="fa fa-angle-right"></span></a></h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis erat quis leo lobortis vestibulum.</p>
                                            </div>

                                            <div class="header--mega__block">
                                                <h4 class="h4--title"><a class="box--link" href="#">Campus Map <span class="fa fa-angle-right"></span></a></h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis erat quis leo lobortis vestibulum.</p>
                                            </div>
                                        </div>

                                        <div class="col-md-7">
                                            <div class="header--mega__right-callout">
                                                <a href="#">
                                                    <img class="lazy" data-original="{{ app.request.basepath }}/img/btn__visit-campus.jpg" alt="Visit Campus"/>
                                                    <noscript><img src="{{ app.request.basepath }}/img/btn__visit-campus.jpg" alt="Visit Campus"/></noscript>
                                                </a>
                                            </div>

                                            <div class="header--mega__right-callout">
                                                <a href="#">
                                                    <img class="lazy" data-original="{{ app.request.basepath }}/img/btn__student-life.jpg" alt="Student Life"/>
                                                    <noscript><img src="{{ app.request.basepath }}/img/btn__student-life.jpg" alt="Student Life"/></noscript>
                                                </a>
                                            </div>

                                            <div class="home--quote__info">
                                                <p>&ldquo;Quote from student about school Quote experience Quote from student about school experience&rdquo;</p>
                                                <a href="#" class="font--bold">READ MORE <span class="fa fa-angle-right"></span></a>
                                            </div>
                                            <div class="home--quote__person__image">
                                                <img class="lazy" data-original="{{ app.request.basepath }}/img/circle-student.png" alt="Photo of Student"/>
                                                <noscript><img src="{{ app.request.basepath }}/img/circle-student.png" alt="Photo of Student"/></noscript>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>

                                <div data-box-mega="alumni" class="header--mega col-xs-hidden">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="header--mega__block">
                                                <h4 class="h4--title"><a class="box--link" href="#">Join Now <span class="fa fa-angle-right"></span></a></h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis erat quis leo lobortis vestibulum.</p>
                                            </div>

                                            <div class="header--mega__block">
                                                <h4 class="h4--title"><a class="box--link" href="#">Update Your Information <span class="fa fa-angle-right"></span></a></h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis erat quis leo lobortis vestibulum.</p>
                                            </div>

                                            <div class="header--mega__block">
                                                <h4 class="h4--title"><a class="box--link" href="#">Clubs and Chapters <span class="fa fa-angle-right"></span></a></h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis erat quis leo lobortis vestibulum.</p>
                                            </div>

                                            <div class="header--mega__block">
                                                <h4 class="h4--title"><a class="box--link" href="#">Make a Gift <span class="fa fa-angle-right"></span></a></h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis erat quis leo lobortis vestibulum.</p>
                                            </div>
                                        </div>

                                        <div class="col-md-8 col-md-offset-1">
                                            <div class="header--mega__block">
                                                <h4 class="h4--title"><a class="box--link" href="#">Lambuth Chapter <span class="fa fa-angle-right"></span></a></h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis erat quis leo lobortis vestibulum.</p>
                                            </div>

                                            <div class="header--mega__block">
                                                <h4 class="h4--title"><a class="box--link" href="#">Upcoming Events <span class="fa fa-angle-right"></span></a></h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis erat quis leo lobortis vestibulum.</p>
                                            </div>

                                            <div class="header--mega__block">
                                                <h4 class="h4--title"><a class="box--link" href="#">Photo Gallery <span class="fa fa-angle-right"></span></a></h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis erat quis leo lobortis vestibulum.</p>
                                            </div>

                                            <div class="header--mega__block">
                                                <h4 class="h4--title"><a class="box--link" href="#">Alumni News <span class="fa fa-angle-right"></span></a></h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis erat quis leo lobortis vestibulum.</p>
                                            </div>
                                        </div>

                                        <div class="col-md-7">
                                            <div class="header--mega__right-callout">
                                                <a href="#">
                                                    <img class="lazy" data-original="{{ app.request.basepath }}/img/btn__join-now.jpg" alt="Join Now"/>
                                                    <noscript><img src="{{ app.request.basepath }}/img/btn__join-now.jpg" alt="Join Now"/></noscript>
                                                </a>
                                            </div>

                                            <div class="header--mega__right-callout">
                                                <a href="#">
                                                    <img class="lazy" data-original="{{ app.request.basepath }}/img/btn__update-your-information.jpg" alt="Update Your Information"/>
                                                    <noscript><img src="{{ app.request.basepath }}/img/btn__update-your-information.jpg" alt="Update Your Information"/></noscript>
                                                </a>
                                            </div>

                                            <div class="home--quote__info">
                                                <p>&ldquo;Quote from alumni about staying connected via the alumi assosciation&rdquo;</p>
                                                <a href="#" class="font--bold">READ MORE <span class="fa fa-angle-right"></span></a>
                                            </div>
                                            <div class="home--quote__person__image">
                                                <img class="lazy" data-original="{{ app.request.basepath }}/img/circle-alumni.png" alt="Photo of Alumni"/>
                                                <noscript><img src="{{ app.request.basepath }}/img/circle-alumni.png" alt="Photo of Alumni"/></noscript>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>

                                <div data-box-mega="veterans" class="header--mega col-xs-hidden">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="header--mega__block">
                                                <h4 class="h4--title"><a class="box--link" href="#">Veterans Resource Center <span class="fa fa-angle-right"></span></a></h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis erat quis leo lobortis vestibulum.</p>
                                            </div>

                                            <div class="header--mega__block">
                                                <h4 class="h4--title"><a class="box--link" href="#">Benefits and Certifications <span class="fa fa-angle-right"></span></a></h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis erat quis leo lobortis vestibulum.</p>
                                            </div>

                                            <div class="header--mega__block">
                                                <h4 class="h4--title"><a class="box--link" href="#">Get Credits Toward your Degree <span class="fa fa-angle-right"></span></a></h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis erat quis leo lobortis vestibulum.</p>
                                            </div>

                                            <div class="header--mega__block">
                                                <h4 class="h4--title"><a class="box--link" href="#">Online Degree Programs <span class="fa fa-angle-right"></span></a></h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis erat quis leo lobortis vestibulum.</p>
                                            </div>
                                        </div>

                                        <div class="col-md-15 col-md-offset-1">
                                            <div class="header--mega__block">
                                                <div class="header--mega__video">
                                                    <div class="video--layout">
                                                        <a href="#">
                                                            <img class="lazy" data-original="{{ app.request.basepath }}/img/demo_video.jpg" alt="Photo of ..."/>
                                                            <noscript><img src="{{ app.request.basepath }}/img/demo_video.jpg" alt="Photo of ..."/></noscript>
                                                            <span class="video--layout__button-play"></span>
                                                        </a>
                                                        <div class="video--layout__bottom">
                                                            <span class="video--layout__bottom__title">See his story:</span> Vietnam veteran Michael Sasseen completed his degree by earning Experiential Learning Credit (ELC) from his past experiences authoring a book and working with war veterans with PTSD.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </header>

    <div{% if active is not empty %} class="{{ active|join(' ') }}"{% endif %}>
{% block cover %}{% endblock %}
{% block content %}{% endblock %}
    </div>

    <footer>

        <div class="footer--top">
            <div class="container">
                <div class="row">
                    <div class="col-md-14">
                        <div class="row col-md-hidden">
                            <div class="col-sm-24">
                                <a id="footer--full__sitemap" class="footer--full__sitemap" href="#">Full sitemap <span class="fa fa-angle-right"></span></a>
                            </div>
                        </div>

                        <div id="footer--lists" class="footer--lists col-xs-hidden col-md-show">
                            <div class="row">
                                <div class="footer--list col-xs-20 col-xs-offset-2 col-sm-11 col-sm-offset-1 col-md-7 col-md-offset-0">
                                    <h4>Admissions</h4>
                                    <nav>
                                        <ul>
                                            <li><a href="#">First Time Freshmen</a></li>
                                            <li><a href="#">Undergraduate Transfer</a></li>
                                            <li><a href="#">Readmission</a></li>
                                            <li><a href="#">High School Students</a></li>
                                            <li><a href="#">Parents</a></li>
                                            <li><a href="#">Financial Aid</a></li>
                                            <li><a href="#">Scholarships</a></li>
                                            <li><a href="#">Tuition & Dues</a></li>
                                            <li><a href="#">Honors</a></li>
                                            <li><a href="#">FAQ</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="footer--list col-xs-20 col-xs-offset-2 col-sm-11 col-sm-offset-1 col-md-7 col-md-offset-1">
                                    <h4>Academics</h4>
                                    <nav>
                                        <ul>
                                            <li><a href="#">First Time Freshmen</a></li>
                                            <li><a href="#">Undergraduate Transfer</a></li>
                                            <li><a href="#">Readmission</a></li>
                                            <li><a href="#">High School Students</a></li>
                                            <li><a href="#">Parents</a></li>
                                            <li><a href="#">Financial Aid</a></li>
                                            <li><a href="#">Scholarships</a></li>
                                            <li><a href="#">Tuition & Dues</a></li>
                                            <li><a href="#">Honors</a></li>
                                            <li><a href="#">FAQ</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="footer--list col-xs-20 col-xs-offset-2 col-sm-11 col-sm-offset-1 col-md-7 col-md-offset-1">
                                    <h4>Athletics</h4>
                                    <nav>
                                        <ul>
                                            <li><a href="#">First Time Freshmen</a></li>
                                            <li><a href="#">Undergraduate Transfer</a></li>
                                            <li><a href="#">Readmission</a></li>
                                            <li><a href="#">High School Students</a></li>
                                            <li><a href="#">Parents</a></li>
                                            <li><a href="#">Financial Aid</a></li>
                                            <li><a href="#">Scholarships</a></li>
                                            <li><a href="#">Tuition & Dues</a></li>
                                            <li><a href="#">Honors</a></li>
                                            <li><a href="#">FAQ</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="footer--list col-xs-20 col-xs-offset-2 col-sm-11 col-sm-offset-1 col-md-7 col-md-offset-0">
                                    <h4>Admissions</h4>
                                    <nav>
                                        <ul>
                                            <li><a href="#">First Time Freshmen</a></li>
                                            <li><a href="#">Undergraduate Transfer</a></li>
                                            <li><a href="#">Readmission</a></li>
                                            <li><a href="#">High School Students</a></li>
                                            <li><a href="#">Parents</a></li>
                                            <li><a href="#">Financial Aid</a></li>
                                            <li><a href="#">Scholarships</a></li>
                                            <li><a href="#">Tuition & Dues</a></li>
                                            <li><a href="#">Honors</a></li>
                                            <li><a href="#">FAQ</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="footer--list col-xs-20 col-xs-offset-2 col-sm-11 col-sm-offset-1 col-sm-11 col-md-7 col-md-offset-1">
                                    <h4>Academics</h4>
                                    <nav>
                                        <ul>
                                            <li><a href="#">First Time Freshmen</a></li>
                                            <li><a href="#">Undergraduate Transfer</a></li>
                                            <li><a href="#">Readmission</a></li>
                                            <li><a href="#">High School Students</a></li>
                                            <li><a href="#">Parents</a></li>
                                            <li><a href="#">Financial Aid</a></li>
                                            <li><a href="#">Scholarships</a></li>
                                            <li><a href="#">Tuition & Dues</a></li>
                                            <li><a href="#">Honors</a></li>
                                            <li><a href="#">FAQ</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="footer--list col-xs-20 col-xs-offset-2 col-sm-11 col-sm-offset-1 col-md-7 col-md-offset-1">
                                    <h4>Athletics</h4>
                                    <nav>
                                        <ul>
                                            <li><a href="#">First Time Freshmen</a></li>
                                            <li><a href="#">Undergraduate Transfer</a></li>
                                            <li><a href="#">Readmission</a></li>
                                            <li><a href="#">High School Students</a></li>
                                            <li><a href="#">Parents</a></li>
                                            <li><a href="#">Financial Aid</a></li>
                                            <li><a href="#">Scholarships</a></li>
                                            <li><a href="#">Tuition & Dues</a></li>
                                            <li><a href="#">Honors</a></li>
                                            <li><a href="#">FAQ</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-24 col-sm-18 col-sm-offset-3 col-md-10 col-md-offset-0">
                        <div class="row footer--top__img">
                            <div class="col-xs-24 col-sm-22 col-sm-offset-1 col-md-24 col-md-offset-0">
                                <img class="lazy" data-original="{{ app.request.basepath }}/img/footer-block-dreamers-thinkers-doers.jpg" alt="Dreamers. Thinkers. Doers."/>
                                <noscript><img src="{{ app.request.basepath }}/img/footer-block-dreamers-thinkers-doers.jpg" alt="Dreamers. Thinkers. Doers."/></noscript>
                            </div>
                        </div>
                        <div class="row footer--top__img">
                            <div class="col-xs-24 col-sm-22 col-sm-offset-1 col-md-24 col-md-offset-0">
                                <img class="lazy" data-original="{{ app.request.basepath }}/img/footer-block-explore-lambuth-campus.jpg" alt="Explore Lambuth Campus"/>
                                <noscript><img src="{{ app.request.basepath }}/img/footer-block-explore-lambuth-campus.jpg" alt="Explore Lambuth Campus"/></noscript>
                            </div>
                        </div>
                        <div class="row">
                            <div class="footer--socialmedia col-xs-18 col-xs-offset-3 col-sm-14 col-sm-offset-5 col-md-18 col-md-offset-3 col-lg-14 col-lg-offset-5">
                                <h4>Follow UofM Online</h4>
                                <div class="icon--socialmedia align">
                                    <a class="icon--socialmedia__facebook__color align--left" href="#"><span class="visuallyhidden">Facebook</span></a>
                                    <a class="icon--socialmedia__twitter__color align--center" href="#"><span class="visuallyhidden">Twitter</span></a>
                                    <a class="icon--socialmedia__youtube__color align--right" href="#"><span class="visuallyhidden">YouTube</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row footer--top__partners">
                            <div class="col-xs-24">
                                <a href="#">
                                    <img class="lazy" data-original="{{ app.request.basepath }}/img/logo-rocc.png" alt="Regents Online Campus Collaborative"/>
                                    <noscript><img src="{{ app.request.basepath }}/img/logo-rocc.png" alt="Regents Online Campus Collaborative"/></noscript>
                                </a>
                                <a style="padding-top: 18px;" href="#">
                                    <img class="lazy last" data-original="{{ app.request.basepath }}/img/logo-tennessee-transfer-pathway.png" alt="Tennessee Transfer Pathway"/>
                                    <noscript><img class="last" src="{{ app.request.basepath }}/img/logo-tennessee-transfer-pathway.png" alt="Tennessee Transfer Pathway"/></noscript>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer--bottom">
            <div class="footer--bottom__wrapper">
                <div class="footer--bottom__wrapper2">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-20">
                                <div class="footer--bottom__wrapper3">
                                    <nav>
                                        <ul>
                                            <li><a href="#">Text Only</a></li>
                                            <li><a href="#" onclick="window.print();return false;">Print</a></li>
                                            <li><a href="#">Got a Question? Ask TOM</a></li>
                                            <li>Copyright {{ 'now'|date('Y') }} University of Memphis</li>
                                            <li><a href="#">Important Notice</a></li>
                                            <li>Last Updated: {{ 'now'|date('n/j/y') }}</li>
                                            <li><a href="#">College of Arts & Sciences</a></li>
                                            <li><a href="#">107 Scates Hall</a></li>
                                            <li><a href="#">Memphis, TN 38152</a></li>
                                            <li>Phone: <a href="tel:901-678-3067">901.678.3067</a></li>
                                            <li>Fax: <a href="tel:901-678-4831">901.678.4831</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>

    <div class="last-updated">
        Last Updated: {{ 'now'|date('n/j/y') }}
    </div>

    <div style="display: none" id="overlay--email" class="overlay--email">

        <span class="icon-envelope-letter"></span>

        <h4>Thank you for signing up for email.</h4>

        <p>Information about email signup goes here. Information about email signup goes here. Information about email signup goes here. Information about email signup goes.</p>

        <a href="">Email Preferences <span class="fa fa-angle-right"></span></a>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <!-- <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
                function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script> -->

</body>
</html>
