{% extends 'layout.html.twig' %}
{% set active = ['type--page', 'type--faculty'] %}

{% block title %}Faculty - Subpage - Microsite - {% endblock %}

{% block scripts %}
{% endblock %}

{% block cover %}

        <div class="background cover">

            <div class="container">

                <div class="row">

                    <div class="cover--title">

                        <div class="cover--title__wrap">

                            <div class="col-xs-24 col-md-17 col-md-offset-7">
                                The Loewenberg School of Nursing
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

{% endblock %}

{% block content %}

        <div class="content">

            <div class="content--top">

                <div class="container">

                    <div class="row">

                        <div class="col-md-18 col-md-offset-6">

                            <ul class="top--links col-xs-hidden col-md-show">
                                <li><a href="#" title="About">About</a></li>
                                <li><a href="#" title="Programs">Programs</a></li>
                                <li class="selected"><a href="#" title="Faculty">Faculty</a></li>
                                <li><a href="#" title="Research">Research</a></li>
                                <li><a href="#" title="Alumni">Alumni</a></li>
                                <li><a href="#" title="Resources">Resources</a></li>
                                <li><a href="#" title="News">News</a></li>
                            </ul>

                            <div id="nav--list__top" class="col-xs-show col-md-hidden">
                                <div class="sidebar--box sidebar--box__border">
                                    <div class="sidebar--box__title">Prospective Students <span class="fa fa-angle-right"></span></div>
                                    <div class="nav--list">
                                        <ul>
                                            <li><a href="#">Dean's Message</a></li>
                                            <li><a href="#">Dean's Advisory Council</a></li>
                                            <li><a href="#">Mission, Vision, and Values</a></li>
                                            <li class="has-subpage selected"><a href="#">Degree Programs</a>
                                                <ul class="subpage">
                                                    <li><a href="#">BSN</a></li>
                                                    <li><a href="#">RN to BSN</a></li>
                                                    <li><a href="#">RN to MSN</a></li>
                                                    <li><a href="#">MSN Programs</a></li>
                                                </ul>
                                            </li>
                                            <li class="has-subpage"><a href="#">Accreditation</a>
                                                <ul class="subpage">
                                                    <li><a href="#">Menu Level 2</a></li>
                                                    <li><a href="#">Menu Level 2</a></li>
                                                    <li><a href="#">Menu Level 2</a></li>
                                                    <li><a href="#">Menu Level 2</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">School Hisory</a></li>
                                            <li class="has-subpage"><a href="#">Quick Facts</a>
                                                <ul class="subpage">
                                                    <li><a href="#">Menu Level 2</a></li>
                                                    <li><a href="#">Menu Level 2</a></li>
                                                    <li><a href="#">Menu Level 2</a></li>
                                                    <li><a href="#">Menu Level 2</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="container">

                <div class="row">

                    <div class="content--body col-xs-24 col-md-17">

                        <div class="breadcrumb col-xs-hidden col-md-show">
                            <ul>
                                <li><a href="{{ url('homepage') }}">Home</a></li>
                                <li><a href="#">School of Nursing</a></li>
                                <li>Faculty</li>
                            </ul>
                        </div>

                        <div class="content--body__wrapper">

                            <h1>Faculty</h1>

                            <h2>Title of Faculty Division</h2>

                            <div class="row">

                                <div class="faculty--grids col-xs-24">
                                    <div class="faculty--grids__wrapper">
                                        {% for i in 0..10 %}
                                        <div class="faculty--grid match-height col-xs-24 col-sm-12 col-md-8">
                                            <div class="row">
                                                <div class="col-xs-19">
                                                    <div class="faculty--headshot">
                                                        <a href="{{ url('microsite-subpage-faculty-single') }}">
                                                            <img class="lazy" data-original="{{ app.request.basepath }}/img/faculty.jpg" alt="Photo of faculty"/>
                                                            <noscript><img src="{{ app.request.basepath }}/img/faculty.jpg" alt="Photo of faculty"/></noscript>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-xs-22">
                                                    <div class="faculty--box">
                                                        <div class="faculty--box__title">Alena M. Allen</div>
                                                        <div class="faculty--box__subtitle">Associate Professor of Law</div>
                                                        <div class="faculty--box__info">
                                                            <div class="faculty--box__info__title">Phone</div>
                                                            <div class="faculty--box__info__desc"><a href="tel:(901) 555-5555">(901) 555-5555</a></div>
                                                        </div>
                                                        <div class="faculty--box__info">
                                                            <div class="faculty--box__info__title">Email</div>
                                                            <div class="faculty--box__info__desc"><a href="mailto:Namename@memphis.edu">Namename@memphis.edu</a></div>
                                                        </div>
                                                        <a class="faculty--box__link" href="{{ url('microsite-subpage-faculty-single') }}">View Profile</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="content--sidebar col-xs-24 col-md-6">

                        <div class="content--sidebar__wrap">

                            <div class="sidebar--box sidebar--box__border col-xs-hidden col-md-show">
                                <div class="sidebar--box__title">About LSON</div>
                                <div class="nav--list">
                                    <ul>
                                        <li><a href="#">Dean's Message</a></li>
                                        <li><a href="#">Dean's Advisory Council</a></li>
                                        <li><a href="#">Mission, Vision, and Values</a></li>
                                        <li class="has-subpage selected"><a href="#">Degree Programs</a>
                                            <ul class="subpage">
                                                <li><a href="#">BSN</a></li>
                                                <li class="selected"><a href="#">RN to BSN</a></li>
                                                <li><a href="#">RN to MSN</a></li>
                                                <li><a href="#">MSN Programs</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-subpage"><a href="#">Accreditation</a>
                                            <ul class="subpage">
                                                <li><a href="#">Menu Level 2</a></li>
                                                <li><a href="#">Menu Level 2</a></li>
                                                <li><a href="#">Menu Level 2</a></li>
                                                <li><a href="#">Menu Level 2</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">School Hisory</a></li>
                                        <li class="has-subpage"><a href="#">Quick Facts</a>
                                            <ul class="subpage">
                                                <li><a href="#">Menu Level 2</a></li>
                                                <li><a href="#">Menu Level 2</a></li>
                                                <li><a href="#">Menu Level 2</a></li>
                                                <li><a href="#">Menu Level 2</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="boxes--border">
                                <div class="boxes row">
                                    <div class="box col-xs-20 col-xs-offset-2 col-sm-10 col-sm-offset-1 col-md-20 col-md-offset-2">
                                        <div class="box--title">
                                            <a class="box--link" href="#">Apply to the Lowenberg
                                                School of Nursing <span class="fa fa-angle-right"></span></a>
                                        </div>

                                        <p>Lorem ipsum dolor sit amet, consecutar adipising elit.</p>
                                    </div>
                                    <div class="box col-xs-20 col-xs-offset-2 col-sm-10 col-sm-offset-1 col-md-20 col-md-offset-2">
                                        <div class="box--title">
                                            <a class="box--link" href="#">Contact <span class="fa fa-angle-right"></span></a>
                                        </div>

                                        <p>Become a True Blue Tiger to receive updates tailored just for you!</p>
                                    </div>
                                </div>

                                <div class="boxes row">
                                    <div class="box col-xs-20 col-xs-offset-2 col-sm-10 col-sm-offset-1 col-md-20 col-md-offset-2">
                                        <div class="box--title">
                                            <a class="box--link" href="#">Callout 3 <span class="fa fa-angle-right"></span></a>
                                        </div>

                                        <p>Become a True Blue Tiger to receive updates tailored just for you!</p>
                                    </div>
                                    <div class="box col-xs-20 col-xs-offset-2 col-sm-10 col-sm-offset-1 col-md-20 col-md-offset-2">
                                        <div class="box--title">
                                            <a class="box--link" href="#">Callout 4 <span class="fa fa-angle-right"></span></a>
                                        </div>

                                        <p>Become a True Blue Tiger to receive updates tailored just for you!</p>
                                    </div>
                                </div>
                            </div>

                            <div class="sidebar--box sidebar--box__border col-xs-hidden col-md-show">

                                <div class="sidebar--box__title">Follow LSON Online</div>
                                <div class="row icon--socialmedia sidebar--socialmedia">
                                    <div class="col-md-8">
                                        <a class="icon--socialmedia__twitter" href="#"><span class="visuallyhidden">Twitter</span></a>
                                    </div>
                                    <div class="col-md-8">
                                        <a class="icon--socialmedia__facebook" href="#"><span class="visuallyhidden">Facebook</span></a>
                                    </div>
                                    <div class="col-md-8">
                                        <a class="icon--socialmedia__linkedin" href="#"><span class="visuallyhidden">LinkedIn</span></a>
                                    </div>
                                    <div class="col-md-8">
                                        <a class="icon--socialmedia__instagram" href="#"><span class="visuallyhidden">Instagram</span></a>
                                    </div>
                                    <div class="col-md-8">
                                        <a class="icon--socialmedia__youtube" href="#"><span class="visuallyhidden">YouTube</span></a>
                                    </div>
                                    <div class="col-md-8">
                                        <a class="icon--socialmedia__google-plus" href="#"><span class="visuallyhidden">Google+</span></a>
                                    </div>
                                    <div class="col-md-8">
                                        <a class="icon--socialmedia__pinterest" href="#"><span class="visuallyhidden">Pinterest</span></a>
                                    </div>
                                    <div class="col-md-8">
                                        <a class="icon--socialmedia__rss" href="#"><span class="visuallyhidden">RSS</span></a>
                                    </div>
                                    <div class="col-md-8">
                                        <a class="icon--socialmedia__vimeo" href="#"><span class="visuallyhidden">Vimeo</span></a>
                                    </div>
                                    <div class="col-md-8">
                                        <a class="icon--socialmedia__flickr" href="#"><span class="visuallyhidden">Flickr</span></a>
                                    </div>
                                </div>

                            </div>

                            <div class="sidebar--box">
                                <a class="button--icon" href="#"><span class="icon-feed"></span>RSS Feed</a>
                            </div>

                            <div class="sidebar--box">
                                <a class="button--icon" href="#"><span class="icon-users"></span>Button 2 Text</a>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

{% endblock %}