{% extends 'layout.html.twig' %}
{% set active = ['type--microsite', 'type--page'] %}

{% block title %}Microsite - {% endblock %}

{% block scripts %}
{% endblock %}

{% block cover %}

        <div class="background cover">

            <div class="container">

                <div class="row">

                    <div class="cover--title">

                        <div class="cover--title__wrap">

                            <div class="col-xs-24 col-md-17 col-md-offset-7">
                                The Loewenberg School of Nursing
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

{% endblock %}

{% block content %}

        <div class="content">

            <div class="content--top">

                <div class="container">

                    <div class="row">

                        <div class="col-md-18 col-md-offset-6">

                            <div id="menu--expand" class="top--links menu--expand col-sm-hidden">
                                <a href="#">Expand Menu <span class="fa fa-angle-down"></span></a>
                            </div>

                            <ul class="top--links col-xs-hidden col-sm-show">
                                <li><a href="#" title="About">About</a></li>
                                <li><a href="#" title="Programs">Programs</a></li>
                                <li><a href="#" title="Faculty">Faculty</a></li>
                                <li><a href="#" title="Research">Research</a></li>
                                <li><a href="#" title="Alumni">Alumni</a></li>
                                <li><a href="#" title="Resources">Resources</a></li>
                                <li><a href="#" title="News">News</a></li>
                            </ul>

                        </div>

                    </div>

                </div>

            </div>

            <div class="container">

                <div class="row">

                    <div class="content--body col-xs-24 col-md-17">

                        <div class="breadcrumb col-xs-hidden col-md-show">
                            <ul>
                                <li><a href="{{ url('homepage') }}">Home</a></li>
                                <li>School of Nursing</li>
                            </ul>
                        </div>

                        <div class="content--body__wrapper">

                            <div class="content--body__header">
                                <div class="slideshow-page--slider">
                                    <div class="slideshow-page--slider__slide" data-cycle-title="Driven by doing 4" data-cycle-desc="University of Memphis student Joshua Cannon has been selected as a spring 2015 collegiate correspondent for USA TODAY." data-cycle-href="#">
                                        <img src="{{ app.request.basepath }}/img/slider-microsite.jpg" alt="Photo of ..."/>
                                    </div>
                                    <div class="slideshow-page--slider__slide" data-cycle-title="Driven by doing 4" data-cycle-desc="University of Memphis student Joshua Cannon has been selected as a spring 2015 collegiate correspondent for USA TODAY." data-cycle-href="#">
                                        <img class="lazy" data-original="{{ app.request.basepath }}/img/slider-microsite.jpg" alt="Photo of ..."/>
                                        <noscript><img src="{{ app.request.basepath }}/img/slider-microsite.jpg" alt="Photo of ..."/></noscript>
                                    </div>
                                    <div class="slideshow-page--slider__slide" data-cycle-title="Driven by doing 4" data-cycle-desc="University of Memphis student Joshua Cannon has been selected as a spring 2015 collegiate correspondent for USA TODAY." data-cycle-href="#">
                                        <img class="lazy" data-original="{{ app.request.basepath }}/img/slider-microsite.jpg" alt="Photo of ..."/>
                                        <noscript><img src="{{ app.request.basepath }}/img/slider-microsite.jpg" alt="Photo of ..."/></noscript>
                                    </div>
                                    <div class="slideshow-page--slider__slide" data-cycle-title="Driven by doing 4" data-cycle-desc="University of Memphis student Joshua Cannon has been selected as a spring 2015 collegiate correspondent for USA TODAY." data-cycle-href="#">
                                        <img class="lazy" data-original="{{ app.request.basepath }}/img/slider-microsite.jpg" alt="Photo of ..."/>
                                        <noscript><img src="{{ app.request.basepath }}/img/slider-microsite.jpg" alt="Photo of ..."/></noscript>
                                    </div>
                                    <div class="slideshow-page--overlay">
                                    </div>
                                </div>

                                <div class="slideshow-page--slider__pager">
                                    <div class="slideshow-page--slider__pager__wrapper"></div>
                                </div>
                            </div>

                            <h1>H1 Preparing leaders. Promoting health.</h1>

                            <p>Welcome to the Loewenberg School of Nursing (LSON), a place that helps you achieve your dream!</p>

                            <p>The Loewenberg School of Nursing (LSON), situated in a diverse metropolitan community, is committed to the preparation of nursing professionals who share a common goal of promoting health of the global community Both undergraduate and graduate programs are accredited by the Commission on Collegiate Nursing Education (CCNE).</p>

                            <p>The mission of the LSON is to provide accessible and innovative higher education preparing leaders who promote health of the global community through excellent teaching, rigorous research, and collaborative practice/service. To fulfill the mission, we are committed to creating a learner –centered educational environment, inspiring life-long learning through excellence in teaching, shaping practice through innovation and partnerships, creating and disseminating knowledge through research and engaged scholarship, and embracing diversity and cultural competence. Our commitment is built on the core values of caring, diversity, integrity, and leadership.</p>

                            <h2>H2 Headline H2 Headline H2 Headline</h2>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                            <h3>H3 Headline H3 Headline H3 Headline</h3>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                            <ul class="style">
                                <li>Bullet Point
                                    <ul>
                                        <li><a href="">Child Item</a></li>
                                    </ul>
                                </li>
                                <li>Bullet Point
                                    <ul>
                                        <li><a href="">Child Item</a></li>
                                    </ul>
                                </li>
                            </ul>

                        </div>

                    </div>

                    <div class="content--sidebar col-xs-24 col-md-6">

                        <div class="content--sidebar__wrap">

                            <div class="boxes--border">
                                <div class="boxes row">
                                    <div class="box col-xs-20 col-xs-offset-2 col-sm-10 col-sm-offset-1 col-md-20 col-md-offset-2">
                                        <div class="box--title">
                                            <a class="box--link" href="#">Apply to the Lowenberg
                                                School of Nursing <span class="fa fa-angle-right"></span></a>
                                        </div>

                                        <p>Lorem ipsum dolor sit amet, consecutar adipising elit.</p>
                                    </div>
                                    <div class="box col-xs-20 col-xs-offset-2 col-sm-10 col-sm-offset-1 col-md-20 col-md-offset-2">
                                        <div class="box--title">
                                            <a class="box--link" href="#">Contact <span class="fa fa-angle-right"></span></a>
                                        </div>

                                        <p>Become a True Blue Tiger to receive updates tailored just for you!</p>
                                    </div>
                                </div>

                                <div class="boxes row">
                                    <div class="box col-xs-20 col-xs-offset-2 col-sm-10 col-sm-offset-1 col-md-20 col-md-offset-2">
                                        <div class="box--title">
                                            <a class="box--link" href="#">Callout 3 <span class="fa fa-angle-right"></span></a>
                                        </div>

                                        <p>Become a True Blue Tiger to receive updates tailored just for you!</p>
                                    </div>
                                    <div class="box col-xs-20 col-xs-offset-2 col-sm-10 col-sm-offset-1 col-md-20 col-md-offset-2">
                                        <div class="box--title">
                                            <a class="box--link" href="#">Callout 4 <span class="fa fa-angle-right"></span></a>
                                        </div>

                                        <p>Become a True Blue Tiger to receive updates tailored just for you!</p>
                                    </div>
                                </div>
                            </div>

                            <div class="sidebar--box sidebar--box__border col-xs-hidden col-md-show">

                                <div class="sidebar--box__title">Follow LSON Online</div>
                                <div class="row icon--socialmedia sidebar--socialmedia">
                                    <div class="col-md-8">
                                        <a class="icon--socialmedia__twitter" href="#"><span class="visuallyhidden">Twitter</span></a>
                                    </div>
                                    <div class="col-md-8">
                                        <a class="icon--socialmedia__facebook" href="#"><span class="visuallyhidden">Facebook</span></a>
                                    </div>
                                    <div class="col-md-8">
                                        <a class="icon--socialmedia__linkedin" href="#"><span class="visuallyhidden">LinkedIn</span></a>
                                    </div>
                                    <div class="col-md-8">
                                        <a class="icon--socialmedia__instagram" href="#"><span class="visuallyhidden">Instagram</span></a>
                                    </div>
                                    <div class="col-md-8">
                                        <a class="icon--socialmedia__youtube" href="#"><span class="visuallyhidden">YouTube</span></a>
                                    </div>
                                    <div class="col-md-8">
                                        <a class="icon--socialmedia__google-plus" href="#"><span class="visuallyhidden">Google+</span></a>
                                    </div>
                                    <div class="col-md-8">
                                        <a class="icon--socialmedia__pinterest" href="#"><span class="visuallyhidden">Pinterest</span></a>
                                    </div>
                                    <div class="col-md-8">
                                        <a class="icon--socialmedia__rss" href="#"><span class="visuallyhidden">RSS</span></a>
                                    </div>
                                    <div class="col-md-8">
                                        <a class="icon--socialmedia__vimeo" href="#"><span class="visuallyhidden">Vimeo</span></a>
                                    </div>
                                    <div class="col-md-8">
                                        <a class="icon--socialmedia__flickr" href="#"><span class="visuallyhidden">Flickr</span></a>
                                    </div>
                                </div>

                            </div>

                            <div class="sidebar--box sidebar--box__border col-xs-hidden col-md-show">

                                <div class="sidebar--box__quote">

                                    <div class="img--callout">
                                        <img class="lazy" data-original="{{ app.request.basepath }}/img/sidebar-callout.jpg" alt="Photo of ..."/>
                                        <noscript><img src="{{ app.request.basepath }}/img/sidebar-callout.jpg" alt="Photo of ..."/></noscript>
                                        <span class="img--callout__banner">Driven By Doing</span>
                                    </div>
                                    <div class="sidebar--box__quote__wrap">
                                        <div class="sidebar--box__quote__quotation">
                                            <p>&ldquo;Quote from nursing student about her community involvment,  about her community involvment Driven by Doing story etc&rdquo;</p>
                                        </div>
                                        <div class="sidebar--box__quote__person__name">Name of student</div>
                                    </div>
                                </div>

                            </div>

                            <div class="sidebar--box">
                                <a class="button--icon" href="#"><span class="icon-feed"></span>RSS Feed</a>
                            </div>

                            <div class="sidebar--box">
                                <a class="button--icon" href="#"><span class="icon-users"></span>Button 2 Text</a>
                            </div>

                            <div id="menu-bottom" class="sidebar--box menu--bottom col-sm-hidden">
                                <h3 class="color--blue">The Loewenberg School of Nursing</h3>
                                <ul class="no-style">
                                    <li><a href="#" title="About">About</a></li>
                                    <li><a href="#" title="Programs">Programs</a></li>
                                    <li><a href="#" title="Faculty">Faculty</a></li>
                                    <li><a href="#" title="Research">Research</a></li>
                                    <li><a href="#" title="Alumni">Alumni</a></li>
                                    <li><a href="#" title="Resources">Resources</a></li>
                                    <li><a href="#" title="News">News</a></li>
                                </ul>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

{% endblock %}
