                        <div class="slideshow">
                            <div class="slideshow--container">
                                <div class="slideshow--header col-xs-hidden col-sm-show">
                                    <div class="slideshow--header__title">{{ title }}</div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="slideshow--wrap">
                                    <div class="slideshow--slider">
                                        <div class="slideshow--slider__slide" data-cycle-title="Driven by doing" data-cycle-desc="University of Memphis student Joshua Cannon has been selected as a spring 2015 collegiate correspondent for USA TODAY." data-cycle-href="#">
                                            <a href="#">
                                                <img src="{{ app.request.basepath }}/img/slider3.jpg" alt="Photo of Joshua Cannon"/>
                                            </a>
                                        </div>
                                        <div class="slideshow--slider__slide" data-cycle-title="Driven by doing 2" data-cycle-desc="University of Memphis student Joshua Cannon has been selected as a spring 2015 collegiate correspondent for USA TODAY." data-cycle-href="#">
                                            <a href="#">
                                                <img class="lazy" data-original="{{ app.request.basepath }}/img/slider3.jpg" alt="Photo of Joshua Cannon"/>
                                                <noscript><img src="{{ app.request.basepath }}/img/slider3.jpg" alt="Photo of Joshua Cannon"/></noscript>
                                            </a>
                                        </div>
                                        <div class="slideshow--slider__slide" data-cycle-title="Driven by doing 3" data-cycle-desc="University of Memphis student Joshua Cannon has been selected as a spring 2015 collegiate correspondent for USA TODAY." data-cycle-href="#">
                                            <a href="#">
                                                <img class="lazy" data-original="{{ app.request.basepath }}/img/slider3.jpg" alt="Photo of Joshua Cannon"/>
                                                <noscript><img src="{{ app.request.basepath }}/img/slider3.jpg" alt="Photo of Joshua Cannon"/></noscript>
                                            </a>
                                        </div>
                                        <div class="slideshow--slider__slide" data-cycle-title="Driven by doing 4" data-cycle-desc="University of Memphis student Joshua Cannon has been selected as a spring 2015 collegiate correspondent for USA TODAY." data-cycle-href="#">
                                            <a href="#">
                                                <img class="lazy" data-original="{{ app.request.basepath }}/img/slider3.jpg" alt="Photo of Joshua Cannon"/>
                                                <noscript><img src="{{ app.request.basepath }}/img/slider3.jpg" alt="Photo of Joshua Cannon"/></noscript>
                                            </a>
                                        </div>

                                        <div class="slideshow--slider__pager">
                                            <div class="slideshow--slider__pager__wrapper"></div>
                                        </div>
                                        <div class="slideshow--overlay">
                                            <div class="slideshow--overlay__wrapper"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

