{% extends 'layout.html.twig' %}
{% set active = ['type--webdirectory', 'type--page'] %}

{% block title %}Web Directory - {% endblock %}

{% block cover %}

        <div class="background cover">

            <div class="container">

                <div class="row">

                    <div class="cover--title">

                        <div class="cover--title__wrap">

                            <div class="col-xs-24 col-md-17 col-md-offset-7">
                                Website Directory
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

{% endblock %}

{% block content %}

        <div class="content">

            <div class="content--top">

                <div class="container">

                    <div class="row">

                        <div class="col-md-17 col-md-offset-7">

                            <div class="breadcrumb col-xs-hidden col-md-show">
                                <ul>
                                    <li><a href="{{ url('homepage') }}">Home</a></li>
                                    <li>Website Directory</li>
                                </ul>
                            </div>

                            <div id="nav--list__top" class="col-xs-show col-md-hidden">
                                <div class="sidebar--box sidebar--box__border">
                                    <div class="sidebar--box__title">Prospective Students <span class="fa fa-angle-right"></span></div>
                                    <div class="nav--list">
                                        <ul>
                                            <li><a href="#">Menu Level 1</a></li>
                                            <li><a href="#">Menu Level 1</a></li>
                                            <li><a href="#">Menu Level 1</a></li>
                                            <li class="has-subpage selected"><a href="#">Menu Level 1</a>
                                                <ul class="subpage">
                                                    <li><a href="#">Menu Level 2</a></li>
                                                    <li><a href="#">Menu Level 2</a></li>
                                                    <li><a href="#">Menu Level 2</a></li>
                                                    <li><a href="#">Menu Level 2</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Menu Level 1</a></li>
                                            <li><a href="#">Menu Level 1</a></li>
                                            <li><a href="#">Menu Level 1</a></li>
                                            <li><a href="#">Menu Level 1</a></li>
                                            <li><a href="#">Menu Level 1</a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="container">

                <div class="row">

                    <div class="content--body col-xs-24 col-md-17">
                        <div class="content--body__wrapper">

                            <div class="row">

                                <div class="webdirectory--group col-xs-22 col-xs-offset-1 col-sm-10 col-sm-push-1 col-sm-offset-1 col-md-7 col-md-offset-0">
                                    <ul>
                                        <li>Admissions
                                            <ul>
                                                <li><a href="#">First Time Freshmen</a></li>
                                                <li><a href="#">Undergraduate Transfer</a></li>
                                                <li><a href="#">Readmission</a></li>
                                                <li><a href="#">High School Students</a></li>
                                                <li><a href="#">Parents</a></li>
                                                <li><a href="#">Financial Aid</a></li>
                                                <li><a href="#">Scholarships</a></li>
                                                <li><a href="#">Tuition and Dues</a></li>
                                                <li><a href="#">Honors</a></li>
                                                <li><a href="#">FAQ</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                                <div class="webdirectory--group col-xs-22 col-xs-offset-1 col-sm-10 col-sm-push-1 col-sm-offset-1 col-md-7 col-md-offset-1">
                                    <ul>
                                        <li>Academics
                                            <ul>
                                                <li><a href="#">First Time Freshmen</a></li>
                                                <li><a href="#">Undergraduate Transfer</a></li>
                                                <li><a href="#">Readmission</a></li>
                                                <li><a href="#">High School Students</a></li>
                                                <li><a href="#">Parents</a></li>
                                                <li><a href="#">Financial Aid</a></li>
                                                <li><a href="#">Scholarships</a></li>
                                                <li><a href="#">Tuition and Dues</a></li>
                                                <li><a href="#">Honors</a></li>
                                                <li><a href="#">FAQ</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                                <div class="webdirectory--group col-xs-22 col-xs-offset-1 col-sm-10 col-sm-push-1 col-sm-offset-1 col-md-7 col-md-offset-1">
                                    <ul>
                                        <li>Athletics
                                            <ul>
                                                <li><a href="#">First Time Freshmen</a></li>
                                                <li><a href="#">Undergraduate Transfer</a></li>
                                                <li><a href="#">Readmission</a></li>
                                                <li><a href="#">High School Students</a></li>
                                                <li><a href="#">Parents</a></li>
                                                <li><a href="#">Financial Aid</a></li>
                                                <li><a href="#">Scholarships</a></li>
                                                <li><a href="#">Tuition and Dues</a></li>
                                                <li><a href="#">Honors</a></li>
                                                <li><a href="#">FAQ</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                                <div class="webdirectory--group col-xs-22 col-xs-offset-1 col-sm-10 col-sm-push-1 col-sm-offset-1 col-md-7 col-md-offset-0">
                                    <ul>
                                        <li>Libraries
                                            <ul>
                                                <li><a href="#">First Time Freshmen</a></li>
                                                <li><a href="#">Undergraduate Transfer</a></li>
                                                <li><a href="#">Readmission</a></li>
                                                <li><a href="#">High School Students</a></li>
                                                <li><a href="#">Parents</a></li>
                                                <li><a href="#">Financial Aid</a></li>
                                                <li><a href="#">Scholarships</a></li>
                                                <li><a href="#">Tuition and Dues</a></li>
                                                <li><a href="#">Honors</a></li>
                                                <li><a href="#">FAQ</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                                <div class="webdirectory--group col-xs-22 col-xs-offset-1 col-sm-10 col-sm-push-1 col-sm-offset-1 col-md-7 col-md-offset-1">
                                    <ul>
                                        <li>Admissions
                                            <ul>
                                                <li><a href="#">First Time Freshmen</a></li>
                                                <li><a href="#">Undergraduate Transfer</a></li>
                                                <li><a href="#">Readmission</a></li>
                                                <li><a href="#">High School Students</a></li>
                                                <li><a href="#">Parents</a></li>
                                                <li><a href="#">Financial Aid</a></li>
                                                <li><a href="#">Scholarships</a></li>
                                                <li><a href="#">Tuition and Dues</a></li>
                                                <li><a href="#">Honors</a></li>
                                                <li><a href="#">FAQ</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                                <div class="webdirectory--group col-xs-22 col-xs-offset-1 col-sm-10 col-sm-push-1 col-sm-offset-1 col-md-7 col-md-offset-1">
                                    <ul>
                                        <li>Admissions
                                            <ul>
                                                <li><a href="#">First Time Freshmen</a></li>
                                                <li><a href="#">Undergraduate Transfer</a></li>
                                                <li><a href="#">Readmission</a></li>
                                                <li><a href="#">High School Students</a></li>
                                                <li><a href="#">Parents</a></li>
                                                <li><a href="#">Financial Aid</a></li>
                                                <li><a href="#">Scholarships</a></li>
                                                <li><a href="#">Tuition and Dues</a></li>
                                                <li><a href="#">Honors</a></li>
                                                <li><a href="#">FAQ</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="content--sidebar col-xs-24 col-md-6">

                        <div class="content--sidebar__wrap">

                            <div class="sidebar--box sidebar--box__border col-xs-hidden col-md-show">
                                <div class="sidebar--box__title">Prospective Students</div>
                                <div class="nav--list">
                                    <ul>
                                        <li><a href="#">Menu Level 1</a></li>
                                        <li><a href="#">Menu Level 1</a></li>
                                        <li><a href="#">Menu Level 1</a></li>
                                        <li class="has-subpage selected"><a href="#">Menu Level 1</a>
                                            <ul class="subpage">
                                                <li><a href="#">Menu Level 2</a></li>
                                                <li><a href="#">Menu Level 2</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Menu Level 1</a></li>
                                        <li><a href="#">Menu Level 1</a></li>
                                        <li><a href="#">Menu Level 1</a></li>
                                        <li><a href="#">Menu Level 1</a></li>
                                        <li><a href="#">Menu Level 1</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="sidebar--box sidebar--box__border sidebar--box__news col-xs-hidden col-md-show">
                                <div class="sidebar--box__title">
                                    U of M News
                                    <a href="#">All News <span class="fa fa-angle-right"></span></a>
                                </div>
                                <div class="sidebar--news__boxes">
                                    <div class="sidebar--news__box">
                                        <div class="sidebar--news__box__date">AUG 5 2014</div>
                                        <div class="sidebar--news__box__content"><a href="#">U of M Will Hold Orientation for New Graduate Students On August 18</a></div>
                                    </div>
                                    <div class="sidebar--news__box">
                                        <div class="sidebar--news__box__date">AUG 5 2014</div>
                                        <div class="sidebar--news__box__content"><a href="#">U of M Will Hold Orientation for New Graduate Students On August 18</a></div>
                                    </div>
                                    <div class="sidebar--news__box">
                                        <div class="sidebar--news__box__date">AUG 5 2014</div>
                                        <div class="sidebar--news__box__content"><a href="#">U of M Will Hold Orientation for New Graduate Students On August 18</a></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <div class="sidebar--box col-xs-hidden col-md-show">
                                <div class="slideshow--slider">
                                    <div class="slideshow--slider__slide" data-cycle-title="Driven by doing" data-cycle-desc="University of Memphis student Joshua Cannon has been selected as a spring 2015 collegiate correspondent for USA TODAY." data-cycle-href="#">
                                        <a href="#">
                                            <img src="{{ app.request.basepath }}/img/slider3.jpg" alt="Photo of Joshua Cannon"/>
                                        </a>
                                    </div>
                                    <div class="slideshow--slider__slide" data-cycle-title="Driven by doing 2" data-cycle-desc="University of Memphis student Joshua Cannon has been selected as a spring 2015 collegiate correspondent for USA TODAY." data-cycle-href="#">
                                        <a href="#">
                                            <img class="lazy" data-original="{{ app.request.basepath }}/img/slider3.jpg" alt="Photo of Joshua Cannon"/>
                                            <noscript><img src="{{ app.request.basepath }}/img/slider3.jpg" alt="Photo of Joshua Cannon"/></noscript>
                                        </a>
                                    </div>
                                    <div class="slideshow--slider__slide" data-cycle-title="Driven by doing 3" data-cycle-desc="University of Memphis student Joshua Cannon has been selected as a spring 2015 collegiate correspondent for USA TODAY." data-cycle-href="#">
                                        <a href="#">
                                            <img class="lazy" data-original="{{ app.request.basepath }}/img/slider3.jpg" alt="Photo of Joshua Cannon"/>
                                            <noscript><img src="{{ app.request.basepath }}/img/slider3.jpg" alt="Photo of Joshua Cannon"/></noscript>
                                        </a>
                                    </div>
                                    <div class="slideshow--slider__slide" data-cycle-title="Driven by doing 4" data-cycle-desc="University of Memphis student Joshua Cannon has been selected as a spring 2015 collegiate correspondent for USA TODAY." data-cycle-href="#">
                                        <a href="#">
                                            <img class="lazy" data-original="{{ app.request.basepath }}/img/slider3.jpg" alt="Photo of Joshua Cannon"/>
                                            <noscript><img src="{{ app.request.basepath }}/img/slider3.jpg" alt="Photo of Joshua Cannon"/></noscript>
                                        </a>
                                    </div>

                                    <div class="slideshow--slider__pager">
                                        <div class="slideshow--slider__pager__wrapper"></div>
                                    </div>
                                    <div class="slideshow--overlay">
                                        <div class="slideshow--overlay__wrapper"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="sidebar--box col-xs-hidden col-md-show">
                                <a class="img--callout" href="#">
                                    <img class="lazy" data-original="{{ app.request.basepath }}/img/sidebar-callout-2.jpg" alt="Photo of ..."/>
                                    <noscript><img src="{{ app.request.basepath }}/img/sidebar-callout-2.jpg" alt="Photo of ..."/></noscript>
                                    <span class="img--callout__stripes"></span>
                                    <span class="img--callout__banner">Be a True Blue Tiger</span>
                                </a>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

{% endblock %}
